<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-// mybatis.org//DTD  Mapper 3.0//EN"
        " https://mybatis.org/dtd/mybatis-3-mapper.dtd ">
<!-- namespace：要对应你的dao接口的包路径 -->
<mapper namespace="com.shy.dao.UserDao">
    <!-- id：对应MyDao接口中的方法名；resultType：对应方法返回值，这里因为返回MyPojo，所以是MyPojo类的包路径 -->
    <select id="getUsers" resultType="com.shy.pojo.UserPojo">
        select * from tb_user
    </select>
    
    <!-- 根据用户名查询用户 -->
    <select id="getUserByName" resultType="com.shy.pojo.UserPojo">
        select * from tb_user where username = #{username}
    </select>
</mapper>